<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content="width=device-width, initial-scale=1">
    <title>SysLab</title>
  </head>
  <body>
    {% if not user.is_authenticated %}
      <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Login">
      </form>
    {% else %}
      You are already logged!
      <a href="{% url 'accounts:logout' %}">Logout</a>
      <a href="{% url 'accounts:password_change' %}">Cambiar Password</a>
    {% endif %}
  </body>
</html>
